<h1><%= @list.title %></h1>
<p>
  Created by: <%= @user.name %>
</p>
<p>
  <h4>Description</h4>
  <%= @list.description %>
</p>
<% if @list.questions.any? %>
  <ul class="collection">
    <% @questions.each do |question| %>
    <li class="collection-item">
      <%= question.title %>
      <%= render 'questions/like', { question: question } %>
    </li>
    <% end %>
  </ul>
<% end %>
<h2>Post a question</h2>
<div>
  <%= render 'questions/form' %>
</div>
<br>
<%= link_to 'Edit', edit_list_path(@list), class: 'waves-effect waves-teal btn-flat' %>
<%= link_to 'Back', root_url, class: 'waves-effect waves-teal btn-flat' %>
