<h1>Log in</h1>
<%= form_for :session, url: login_path do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "log in", class: 'waves-effect waves-light btn' %>
  </p>
<% end %>

<p>
  New user? <%= link_to "Sign up", signup_path %>
</p>
